@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    transition: 300ms ease-in;
}

body {
    background-color: #d7d7d7;
}


/*********************** Navbar Section***********************/

.navbar {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #243C7B;
    box-sizing: border-box;
}

.logo {
    width: 140px;
    height: 40px;
}

.search {
    border: 2px solid #243C7B;
    display: flex;
    align-items: center;
}

input {
    padding: 6px 10px;
    width: 250px;
    position: relative;
    border: none;
    outline: none;
    background-color: #d7d7d7;
}

input::placeholder {
    color: #243C7B;
}

.search-icon {
    padding: 6px 20px;
}

.drop-down {
    display: flex;
    align-self: flex-start;
    gap: 40px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #243C7B;
    margin-left: 20px;
}

.links > a + a {
    border: 2px solid #243C7B;
    padding: 6px 15px;
}

.links > a + a:hover {
    background-color: #dd4e27;
    color: #ffffff;
    border-color: #dd4e27;
}

/*********************** Hero Section***********************/

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background: url(./assets/wave.svg) no-repeat center center / cover;
    color: rgba(221, 78, 39, .9);
    box-sizing: border-box;
}

.text h4 {
    font-size: 28px;
    font-weight: 800;
}

.text h1 {
    font-size: 52px ;
    margin: 30px 0;
    font-weight: 600;
}

.text p {
    color: #ffffff99;
    font-size: 20px;
}

.hero-section > img {
    width: 30%;
}